{% block create %}
<div id='bike'>
    <div id='bike_infobox'>
        <h2>Create Listing</h2>
        <div>
            <!-- Placeholder -->
            <div id='img_upload'></div>
                <img id='picture_preview' style='height:100px;width:100px;visibility: hidden;' src=''>
                <form id='create_form' action='/createbike' method='POST' enctype='multipart/form-data'>
                {% csrf_token %}
                    <input type='file' id='file' name='picture' accept='image/*' onchange='handleFileSelect(this);'>
            </div>
            <div id='description_1'>
                Title: <input type='text' name='title'>
                Description: <textarea name='description' form='create_form'></textarea>
            </div>
            <div id='description_2'>
                Price: <input type='number' name='price'>
                City: <input type='text' name='city'>
                State: <input type='text' name='state'>
                <input type='hidden' name='sellerId' value='{{userId}}'>
                <input type='submit' value='Create!'>
                </form>
            </div>
            <!-- end placeholder -->
        </div>
    </div>
</div>

{% endblock %}