<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bicycle Marketplace</title>
</head>
<body>
    <div id='header_block'>
        {% include 'marketplace/components/header.html' %}
        {% block header %}
        {% endblock %}
    </div>
    {% block index %}
    {% endblock %}

    {% block browse %}
    {% endblock %}

    {% block listing %}
    {% endblock %}

    {% block viewBike %}
    {% endblock %}

</body>
</html>