{% block botd %}
    <div id='botd'>
        <h2>Bike of the day!</h2>
        <div id='botd_infobox'>
            <!-- Placeholder -->
            <img alt='placeholder'>
            <div id='botd_infobox_description'>
                <h2>Title</h2>
                {% lorem %}
            </div>
            <div id='botd_infobox_price'>
                <h2>$ 950</h2>
                <p>Los Angeles, CA</p>
            </div>
            <!-- end placeholder -->
        </div>
    </div>
{% endblock %}