{% block edit %}
<div id='bike'>
    <div id='bike_infobox'>
        <div>
            <!-- Placeholder -->
            <div id='img_upload'>
                <div id='picture_preview'></div>
                <form id='create_form'>
                    {% csrf_token %}
                    <input type='file' id='file' name='picture' accept='image/*' onchange='handleFileSelect(this);'>
            </div>
            <div id='description_1'>
                Title: <input type='text' name='title' value='{{bike.title}}'>
                Description: <textarea name='description' form='create_form'>{{bike.description}}</textarea>
            </div>
            <div id='description_2'>
                Price:
                <input type='number' name='price' value='{{bike.price}}'>
                Location: <input type='text' name='location' value='{{bike.city}}, {{bike.state}}'>
                <input type='submit' value='Update!'>
                <button value='Delete!'>
                </form>
            </div>
            <!-- end placeholder -->
        </div>
    </div>
</div>
{% endblock %}