<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bicycle Marketplace</title>
</head>
<body>
    <div id='header_block'>
        {% include 'marketplace/header.html' %}
        {% block header %}
        {% endblock %}
    </div>
    <div id='botd_block'>
        {% include 'marketplace/botd.html' %}
        {% block botd %}
        {% endblock %}
    </div>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div id='login_reg_block'>
        {% include 'marketplace/login.html' %}
        {% block login %}
        {% endblock %}
        
        {% include 'marketplace/register.html' %}
        {% block register %}
        {% endblock %}
    </div>
</body>
</html>